
# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs


# Node.js
/node_modules

# Yarn Berry (PnP)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build artifacts
/build
/.next
/out
/dist
/.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*.local
.env.local

# Test coverage
/coverage

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ESLint Cache
/.eslintcache

# Tailwind CSS
.tailwind

.next


sw.*
workbox*
