{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}
