@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .scroll {
  overflow: hidden;
} */
