@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
}

body.fixed {
  position: fixed;
  top: var(--posY);
  left: 0;
  right: 0;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

  &:focus {
    outline: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
