@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
}

body.fixed {
  position: fixed;
  top: var(--posY);
  left: 0;
  right: 0;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

  &:focus {
    outline: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custome-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .custom-body {
    padding-bottom: 80px;
  }
}

@media (max-width: 960px) {
  .custom-body {
    padding-bottom: 90px;
  }
}

@media (max-width: 768px) {
  .header-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 70%);
    z-index: 1;
  }
}

@media (min-width: 769px) {
  .header-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 50%);
    z-index: 1;
  }
}
