.scroll-bar::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
  background-color: rgb(240, 240, 240);
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgb(148, 148, 148);
  border-radius: 5px;
  /* background-clip: padding-box; */
  border: 2px solid transparent;
}

.scroll-bar li {
  position: relative;
  transition: 0.3s;
}

.scroll-bar li::before {
  transition: 0.3s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 1px;
  background-color: #e2e8f0;
}

.scroll-bar li.selected::before {
  height: 10px;
  border-radius: 20px;
}
